:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-black: #4d4d4d;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
  
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  
    /* Font weight*/
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
  
    /* Size */
    --size-border-radius: 4px;
  
    /* Annimation */
    --animation-duration: 300ms;
  }
  
  /* Universal tags */
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #f7d5d5;
    cursor: default;
  }
  
  a {
    text-decoration: none;
    color: var(--color-black);
  }
  
  ul {
    padding-left: 100px;
  }
  
  button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0;
  }
  
  /* Typography */
  h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
  }
  
  h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  h3 {
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  p {
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 4px 0;
  }

  /* Navbar */
  #navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    padding: 16px;
    transition: all var(--animation-duration) ease-in-out;
  }
  
  .navbar__toggle-btn {
    position: absolute;
    top: 24px;
    right: 32px;
    font-size: 24px;
    color: var(--color-white);
    display: none;
  }
  
  .navbar__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: hsl(204, 93%, 49%);
  }
  
  .navbar__logo i {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: hsl(204, 93%, 49%);
  }
  
  .navbar__logo a {
    color: #080700;
    margin-left: 10px;
  }

  #container {
    width: 1000px;
    margin: 60px auto;
    background-color: var(--color-light-white);
    display: flex;
  }
  
  .prod-pic {
      margin: 20px;
  }
  
  .cup {
      box-shadow: 1px 1px 2px #eee;
      outline: 1px dashed #eee;
      outline-offset: -7px;
      width: 550px;
      height: 400px;
  }
  
  .small-pic {
      margin-top: 20px;
      list-style: none;
      padding: 0%;
  }
  
  .small-pic img:hover {
      cursor: pointer;
  }
  
  .small {
      width: 180px;
      height: 130px;
  }
  
  #desc {
      font-size: 25px;
      width: 400px;
      height: 50%;
      position: relative;
      right: 10px;
      top: 120px;
  }
  
  #desc ul {
      padding-left: 40px;
  }
  
  #desc li {
      font-size: 0.9em;
      line-height: 1.8;
  }
  
/* For below 768px screen width */
@media screen and (max-width: 1000px) {
    :root {
      /* Font size */
      --font-large: 30px;
      --font-medium: 18px;
      --font-regular: 16px;
      --font-small: 14px;
      --font-micro: 12px;
    }
  
    .section {
      padding: 16px;
      padding-top: 40px;
    }
  
    .navbar__toggle-btn {
      display: block;
      top: 20px;
      right: 16px;
      color: var(--color-dark-pink);
      font-size: var(--font-large);
    }
  #container {
    width: 600px;
    margin: 60px auto;
    background-color: var(--color-light-white);
    display: flex;
  }
  
    .prod-pic {
        margin: 10px;
    }

    .cup {
        box-shadow: 1px 1px 2px #eee;
        outline: 1px dashed #eee;
        outline-offset: -7px;
        width: 280px;
        height: 250px;
    }

    .small-pic {
        margin-top: 20px;
        list-style: none;
        padding: 0%;
    }

    #desc {
        font-size: 18px;
        width: 400px;
        height: 50%;
        position: relative;
        right: 50px;
        top: 120px;
    }
    
    #desc ul {
        padding-left: 40px;
    }
    
    #desc li {
        font-size: 0.9em;
        line-height: 1.8;
    }
}